.App {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.dropzone {
    border: 2px dashed #cccccc;
    border-radius: 4px;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    transition: border .24s ease-in-out;
}

.dropzone.active {
    border-color: #2196f3;
    background-color: #e6f7ff;
}

.image-comparison-container {
    margin-top: 30px;
}

.comparison-slider {
    width: 100%;
    height: auto; /* Ajusta a altura automaticamente */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.comparison-slider img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Garante que a imagem se ajuste sem cortar */
}

.download-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.download-button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-top: 10px;
}